/* Large screen styles */
@media screen and (min-width: 1025px) {
    .discover-grid {
      grid-template-areas: "sidebar card-container";
      grid-template-columns: 1fr 3fr;
    }
  
    .sidebar {
      grid-area: sidebar;
    }
  
    .card-container {
      grid-area: card-container;
      grid-template-columns: repeat(3, 1fr);
    }
  
    .card img {
      transition: transform 0.3s ease;
    }
  
    .card img:hover {
      transform: scale(1.05);
    }
  }
  
  